:root {
    --font-family-main: 'Montserrat', sans-serif;
    --font-size-s: 13px;
    --font-line-s: 18px;
    --font-s: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 34px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры

    --header-height: 64px;
    --sidebar-width: 200px;

    // Цвета

    --main-color: #fff;
    --background-color: #f7f9fc;
    --additive-background-color: rgb(0 0 0 / 5%);
    --main-blue-color: #3f57ff;
    --additive-blue-color: #e8ebff;
    --header-color: var(--main-color);
    --sidebar-color: var(--main-color);

    // z - Идексы

    --header-z-index: 100;

    // Отступы

    --padding-size-4: 4px; 
    --padding-size-8: 8px; 
    --padding-size-16: 16px; 
    --padding-size-24: 24px; 
    --margin-size-4: 4px; 
    --margin-size-8: 8px; 
    --margin-size-16: 16px; 
    --margin-size-24: 24px; 
    --margin-size-32: 32px; 
    --margin-size-40: 40px; 
    --margin-size-48: 48px; 
}
