.answers {
    max-width: 900px;
    width: 70%;
    min-width: 200px;
    padding: var(--padding-size-8) var(--padding-size-32);
}

.nextBtn {
    margin-top: var(--margin-size-16);
    margin-left: auto;
    height: 50px;
    width: 150px;
}