.Header {
    display: flex; 
    width: 100%;
    align-items: center; 
    justify-content: space-between;
    background-color:  var(--sidebar-color);
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    bottom: auto;
    z-index: 100;
}

.logo {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
}